<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志下载平台</title>
</head>
<link rel="stylesheet" type="text/css" href="css/element.css">
<style>
    [v-cloak] {
        display: none;
    }
    
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

</style>
<body>
<div id="app" v-cloak style="margin-top: 25px">
    <el-container style="border: 1px solid #eee; display: flex" ref="container">
        
        <!-- 侧边栏 -->
        <el-aside width="350px">
            <el-input
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
            </el-input>
            <el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick" :filter-node-method="filterNode" ref="tree" v-if="showTree"></el-tree>
        </el-aside>
        
        <!-- 头部 -->
        <el-container>

            <el-header style="text-align: center; justify-content: center; line-height: 24px">
                <h1 @click="centerDialogVisible = true">日志下载平台</h1>
            </el-header>

            <el-dialog
                    title="公告"
                    :visible.sync="centerDialogVisible"
                    width="30%"
                    center>
                <span v-html="message"></span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="centerDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
                  </span>
            </el-dialog>


            <!-- 主体 -->
            <el-main style="height: 100%" ref="main">
                <!-- 历史信息页 -->
                <el-page-header @back="goBack" :content="content" v-show="showHistory">
                </el-page-header>
                <!-- 选项卡 -->
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="全部" name="10.15" ></el-tab-pane>
                    <el-tab-pane label="南云" name="10.157" ></el-tab-pane>
                    <el-tab-pane label="北云" name="10.155" ></el-tab-pane>
                </el-tabs>

                <!-- 表格 -->
                <el-table
                        ref="multipleTable"
                        :data="logDetails.filter(data => data.ip.includes(activeName) && (!search || data.path.toLowerCase().includes(search.toLowerCase()) || data.ip.includes(search))).slice((curPage - 1) * pageSize, curPage * pageSize)"
                        border 
                        style="width: 100%;"
                        @selection-change="handleSelectionChange">
                    <!-- 日志路径 -->
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column prop="ip"  label="CVM_IP" width="120">
                        <template slot-scope="scope">
                            <!-- 单行点击事件 -->
                            <div @click="toggleSelection([scope.row])">{{ scope.row.ip }}</div>
                        </template>
                    </el-table-column>
                    
                    <el-table-column prop="path"  label="日志路径及文件名">
                            <template slot-scope="scope">
                                <!-- 单行点击事件 -->
                                <div @click="toggleSelection([scope.row])">{{ scope.row.path }}</div>
                            </template>
                    </el-table-column>

                    <el-table-column prop="size"  label="文件大小" width="150">
                        <template slot-scope="scope">
                            <!-- 单行点击事件 -->
                            <div @click="toggleSelection([scope.row])">{{ scope.row.size + scope.row.unit }}</div>
                        </template>
                    </el-table-column>
                    
                    <el-table-column prop="createTime"  label="生成时间" width="160">
                        <template slot-scope="scope">
                            <!-- 单行点击事件 -->
                            <div @click="toggleSelection([scope.row])">{{ scope.row.createTime }}</div>
                        </template>
                    </el-table-column>
                    
                    <!-- 操作栏 -->
                    <el-table-column
                            fixed="right" width="200">
                        <!-- 搜索框 -->
                        <template slot="header" slot-scope="scope" style="width: 30px">
                            <el-input
                                    v-model="search"
                                    size="mini"
                                    placeholder="输入关键字搜索"/>
                        </template>
                        
                        <template slot-scope="scope">
                            <!-- 下载日志 -->
                            <el-button  @click="downloadLog(scope.row)" type="text" size="small">下载日志</el-button>
                            <!-- 下载镜像 -->
                            <el-tooltip class="item" effect="dark" content="下载缓存中的日志文件" placement="top">
                                <el-button  @click="downloadHistoryLog(scope.row)" type="text" size="small" v-show="scope.row.mirror">下载镜像</el-button>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                </el-table>

                <!-- 分页 -->
                <el-pagination 
                        background
                        layout="prev, pager, next, sizes, total, jumper"
                        :page-sizes="[10, 25, 35, 50]" 
                        :page-size="pageSize"
                        :total="logDetails.filter(data => data.ip.includes(activeName) && (!search || data.path.toLowerCase().includes(search.toLowerCase()) || data.ip.includes(search))).length"
                        @current-change="handleCurrentChange"  
                        @size-change="handleSizeChange">
                </el-pagination>
            
                <!-- 底部按钮 -->
                <div style="margin-top: 20px">
                    <el-button @click="toggleSelection()">取消选择</el-button>
                    <el-button @click="download">下载日志</el-button>
                    <el-tooltip class="item" effect="dark" content="查询该部署组1天前的历史日志清单" placement="top">
                        <el-button @click="history(true)" v-show="!showHistory">查询历史</el-button>
                    </el-tooltip>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/element.js"></script>
<script src="js/router.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                pageSize: 10,
                curPage: 1,
                // 表格搜索的关键字
                search: '',
                // 表格日志信息
                logDetails: [],
                // 表格多选数据
                multipleSelection: [],
                // 是否显示菜单
                showTree: true,
                // 菜单过滤字段
                filterText: '',
                // 菜单数据
                data: [],
                // 菜单的显示字段
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                // 活跃的tab页
                activeName: '10.15',
                // 显示历史页
                showHistory: false,
                // 历史页标题
                content: "",
                // 临时数据
                tmpDetails: [],
                centerDialogVisible: false,
                message: ""
            }
        },
        methods: {
            // 菜单点击事件
            handleNodeClick(data) {
                console.log(data)
                
                // 查找所有的父级
                if (data.ips && data.ips.length > 0) {
                    this.logDetails = [];
                    this.tmpDetails = [];
                    this.pageSize = 10; 
                    this.curPage = 1;
                    this.showHistory = false;
                    const loading = this.$loading({
                        lock: true,
                        text: 'Loading',
                        spinner: 'el-icon-loading',
                        background: 'rgba(0, 0, 0, 0.7)'
                    });
                    
                    fetch(router.queryLogDetails, {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "label": data.cluster,
                            "ips": data.ips,
                            "bkParam": data.bkParam,
                            "isHistory": false
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            loading.close();
                            if (data.code === 200) {
                                this.logDetails = data.data;
                                this.$forceUpdate()
                            } else if(data.code === 404) {
                                this.logDetails = data.data;
                                this.$forceUpdate()
                                this.$alert('未查询到数据的ip为：' + data.message, "蓝鲸查询出错/超时", {
                                    confirmButtonText: '确定'
                                });
                            } else {
                                this.logDetails = [];
                                this.$message.error(data.message)
                            }
                        })
                        .catch(err => {
                            loading.close();
                            console.log(err)
                            this.$message.error(err)
                        })
                } else if (data.ips && data.ips.length === 0) {
                    this.logDetails = []
                    this.$message.error("没有对应部署组IP")
                }
            },
            // 菜单过滤
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            },
            // 获取菜单列表
            menu() {
                fetch(router.getMenu)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if (data.code === 200) {
                            this.data = data.data;
                        } else {
                            this.$message.error(data.message)
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        this.$message.error(err)
                    })
            },
            // 表格清空选中状态
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            // 表格记录选中状态 
            handleSelectionChange(val) {
                console.log(val)
                this.multipleSelection = val;
            },
            // 抓取日志
            async downloadLog(val) {
                console.log(val)

                if (val.path.includes("/data/tsf_default/logs/sys_log")) {
                    this.$alert('容器内syslog日志暂无法下载，请联系部署组提取', "下载日志出错", {
                        confirmButtonText: '确定'
                    });
                    return;
                }

                const loading = this.$loading({
                    lock: true,
                    text: '获取' + val.ip + ':' + val.path + '的下载资源中...下载文件过大，可能会造成下载超时',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                // 使用fetch发送请求并拿到返回值
                const response = await fetch(router.download, {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'label': val.label,
                        'ip': val.ip,
                        'path': val.path,
                        'cvmIp': val.ip
                    })
                });
                
                if (response.headers.get('Content-Disposition')) {
                    // 将文件流转为blob对象，并获取本地文件链接
                    response.blob().then((blob) => {
                        console.log(blob)
                        const a = window.document.createElement('a');
                        // 获取 blob 本地文件连接 (blob 为纯二进制对象，不能够直接保存到磁盘上)
                        const downUrl = window.URL.createObjectURL(blob);
                        const filename = response.headers.get('Content-Disposition').split('filename=')[1];
                        a.href = downUrl;
                        a.download = `${decodeURI(filename)}`;
                        loading.close();
                        a.click();
                        window.URL.revokeObjectURL(downUrl);

                        // 下载后回调刷新当前行
                        setTimeout(() => {
                            this.callBackForDownload(val)
                        }, 500)
                    });
                } else {
                    response.json().then((data) => {
                        this.$message.error(data.message)
                        loading.close();
                    }).catch(e => console.log(e));
                }
            },
            // 抓取历史日志
            async downloadHistoryLog(val) {
                console.log(val)

                const loading = this.$loading({
                    lock: true,
                    text: '获取' + val.ip + ':' + val.path + '的下载资源中...下载文件过大，可能会造成下载超时',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                // 使用fetch发送请求并拿到返回值
                const response = await fetch(router.downloadImage, {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'label': val.label,
                        'ip': val.ip,
                        'path': val.path,
                        'cvmIp': val.ip
                    })
                });

                setTimeout(() => {
                    if (response.headers.get('Content-Disposition')) {
                        // 将文件流转为blob对象，并获取本地文件链接
                        response.blob().then((blob) => {
                            console.log(blob)
                            const a = window.document.createElement('a');
                            // 获取 blob 本地文件连接 (blob 为纯二进制对象，不能够直接保存到磁盘上)
                            const downUrl = window.URL.createObjectURL(blob);
                            const filename = response.headers.get('Content-Disposition').split('filename=')[1];
                            a.href = downUrl;
                            a.download = `${decodeURI(filename)}`;
                            loading.close();
                            a.click();
                            window.URL.revokeObjectURL(downUrl);
                        });

                        // 下载后回调刷新当前行
                        setTimeout(() => {
                            this.callBackForDownload(val)
                        }, 500)
                    } else {
                        response.json().then((data) => {
                            this.$message.error(data.message)
                            loading.close();
                        }).catch(e => console.log(e));
                    }
                }, 500)
            },
            // 下载
            async download() {
                console.log(this.multipleSelection)
                for (let val in this.multipleSelection) {
                    this.downloadLog(this.multipleSelection[val])
                }
                
                // 使用fetch发送请求并拿到返回值
                // const response = await fetch(router.download);
                // // 将文件流转为blob对象，并获取本地文件链接
                // response.blob().then((blob) => {
                //     const a = window.document.createElement('a');
                //     const downUrl = window.URL.createObjectURL(blob);// 获取 blob 本地文件连接 (blob 为纯二进制对象，不能够直接保存到磁盘上)
                //     const filename = response.headers.get('Content-Disposition').split('filename=')[1].split('.');
                //     a.href = downUrl;
                //     a.download = `${decodeURI(filename[0])}.${filename[1]}`;
                //     a.click();
                //     window.URL.revokeObjectURL(downUrl);
                // });
            },
            handleCurrentChange(val) {
                this.curPage = val;
            },
            handleSizeChange(val) {
                this.pageSize = val;
            },
            handleClick(tab, event) {
                console.log(this.activeName)
                console.log(this.logDetails.filter(data => data.ip.includes(this.activeName) && (!this.search || data.path.toLowerCase().includes(this.search.toLowerCase()) || data.ip.search(this.search))).length)
                console.log(tab, event);
            },
            // 查询历史
            history(val) {
                // 获取当前选中节点
                let node =  this.$refs.tree.getCurrentNode();
                if (node && node.ips) {
                    if (node.ips.length > 0) {
                        // 将原始数据存入tmp  val = true 点击按钮 val = false 刷新
                        console.log(val)
                        if (val) {
                            this.tmpDetails = this.logDetails;
                            this.$forceUpdate()
                        }
                        this.content = node.label + " 历史日志查询"

                        const loading = this.$loading({
                            lock: true,
                            text: 'Loading',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                        });
                        
                        // 请求历史数据
                        fetch(router.queryLogDetails, {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                "label": node.cluster,
                                "ips": node.ips,
                                "bkParam": node.bkParam,
                                "isHistory": true
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            loading.close();
                            if (data.code === 200) {
                                // 压入历史数据
                                this.logDetails = data.data;
                                this.$forceUpdate()
                            } else {
                                this.logDetails = [];
                                this.$message.error(data.message)
                            }
                            this.showHistory = true;
                        })
                        .catch(err => {
                            loading.close();
                            console.log(err)
                            this.$message.error(err)
                        })
                    } else {
                        this.logDetails = []
                        this.$message.error("没有对应部署组IP")
                    }
                } else {
                    this.$message.error("请先选择查询部署组")
                }
            },
            // 返回查询当天日志
            goBack() {
                // 还原数据 清空tmp
                this.logDetails = this.tmpDetails
                this.$forceUpdate()
                this.tmpDetails = []
                this.showHistory = false;
                console.log('go back');
            },
            
            // 下载后回调刷新当前行
            callBackForDownload(val) {
                
                const loading = this.$loading({
                    lock: true,
                    text: 'loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                
                fetch(router.findMirror, {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "ip": val.ip,
                        "path": val.path,
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        setTimeout(() => {
                            loading.close();
                        }, 500)
                        if (data.code === 200) {
                            // 更新数组中指定索引的值
                            let index = this.logDetails.findIndex(item => item.id === val.id);
                            let item = this.logDetails[index]
                            item.mirror = true
                            this.logDetails.splice(index, 1, item)
                        }
                    })
                    .catch(err => {
                        loading.close();
                        console.log(err)
                        this.$message.error(err)
                    })
            },
            getNotice() {
                fetch(router.getNotice, {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if (data.code === 200) {
                            // 更新数组中指定索引的值
                           this.message = data.data[0];
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        this.$message.error(err)
                    })
            }
        },
        watch: {
            filterText(val) { 
                this.$refs.tree.filter(val);
                // 没有关键词后重新渲染tree组件
                if (val === '') {
                    // 销毁
                    setTimeout(() => {
                        this.showTree = false;
                    }, 50)
                    // 渲染
                    setTimeout(() => {
                        this.showTree = true;
                    }, 100)
                }
            },
        },
        mounted() {
            // 初始化菜单数据
            this.menu();
            this.getNotice();
            
            // 获取浏览器可视区域高度
            let clientHeight = `${document.documentElement.clientHeight}` - 50 + 'px';
            console.log(this.$refs.container.$el.style.height = clientHeight)

            // 初始化提示信息
            this.$notify({
                title: '提示',
                dangerouslyUseHTMLString: true,
                message: '点击<strong>标题栏</strong>可以查看当前版本公告<br>当前页面查询结果为<strong>当天日志</strong><br>如需查询<strong>历史日志</strong><br>请点击表格下方的<strong>查询历史</strong>按钮',
                duration: 0
            });
        }
    })
</script>
</html>