<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志下载平台</title>
</head>
<link rel="stylesheet" type="text/css" href="css/element.css">
<style>
    [v-cloak] {
        display: none;
    }
    
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>
<body>
<div id="app" v-cloak>
    <el-container style="height: 100%; border: 1px solid #eee; display: flex">
        
        <!-- 侧边栏 -->
        <el-aside width="250px" style="background-color: rgb(238, 241, 246)">
            <el-input
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
            </el-input>
            <el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick" :filter-node-method="filterNode" ref="tree" v-if="showTree"></el-tree>
        </el-aside>
        
        <!-- 头部 -->
        <el-container>
            <el-header style="text-align: center; justify-content: center; line-height: 24px">
                <h1>日志下载平台</h1>
            </el-header>
            
            <!-- 主体 -->
            <el-main style="height: 100%">
                <el-table
                        ref="multipleTable"
                        :data="logDetails.filter(data => !search || data.path.toLowerCase().includes(search.toLowerCase()))"
                        border 
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                    <!-- 日志路径 -->
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column prop="path"  label="日志路径及文件名">
                            <template slot-scope="scope">
                                <!-- 单行点击事件 -->
                                <div @click="toggleSelection([scope.row])">{{ scope.row.path }}</div>
                            </template>
                    </el-table-column>   
                    
                    <!-- 操作栏 -->
                    <el-table-column
                            fixed="right" width="200">
                        <!-- 搜索框 -->
                        <template slot="header" slot-scope="scope" style="width: 30px">
                            <el-input
                                    v-model="search"
                                    size="mini"
                                    placeholder="输入关键字搜索"/>
                        </template>
                        <!-- 下载日志 -->
                        <template slot-scope="scope">
                            <el-button  @click="handleClick(scope.row)" type="text" size="small">下载日志</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                
                <!-- 底部按钮 -->
                <div style="margin-top: 20px">
                    <el-button @click="toggleSelection()">取消选择</el-button>
                    <el-button @click="download">下载日志</el-button>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/element.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                // 表格搜索的关键字
                search: '',
                // 表格日志信息
                logDetails: [],
                // 表格多选数据
                multipleSelection: [],
                // 是否显示菜单
                showTree: true,
                // 菜单过滤字段
                filterText: '',
                // 菜单数据
                data: [],
                // 菜单的显示字段
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
               
            }
        },
        methods: {
            // 菜单点击事件
            handleNodeClick(data) {
                let that = this;
                // 查找所有的父级
                fetch("http://localhost:8080/queryLogDetails")
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if (data.code === 1) {
                            this.logDetails = data.data;
                        } else {
                            that.$message.error(data.message)
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        that.$message.error(err)
                    })
            },
            // 菜单过滤
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            },
            // 获取菜单列表
            menu() {
                let that = this;
                fetch("http://localhost:8080/getMenu")
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if (data.code === 1) {
                            that.data = data.data;
                        } else {
                            that.$message.error(data.message)
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        that.$message.error(err)
                    })
            },
            // 表格清空选中状态
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            // 表格记录选中状态 
            handleSelectionChange(val) {
                console.log(val)
                this.multipleSelection = val;
            },
            // 抓取日志
            handleClick(val) {
                console.log(val)
                this.$message.success('日志抓取成功');
                this.deploymentGroup.forEach(data => {
                    if (data.id === val.id) {
                        data.isCatch = "Y"
                    }
                })
                setTimeout(() => {
                    this.$message.error('日志抓取失败');
                }, 1000)
            },       
            // 下载
            async download() {
                // 使用fetch发送请求并拿到返回值
                const response = await fetch("http://localhost:8080/download");
                // 将文件流转为blob对象，并获取本地文件链接
                response.blob().then((blob) => {
                    const a = window.document.createElement('a');
                    const downUrl = window.URL.createObjectURL(blob);// 获取 blob 本地文件连接 (blob 为纯二进制对象，不能够直接保存到磁盘上)
                    const filename = response.headers.get('Content-Disposition').split('filename=')[1].split('.');
                    a.href = downUrl;
                    a.download = `${decodeURI(filename[0])}.${filename[1]}`;
                    a.click();
                    window.URL.revokeObjectURL(downUrl);
                });
            },
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
                let that = this;
                // 没有关键词后重新渲染tree组件
                if (val === '') {
                    // 销毁
                    setTimeout(() => {
                        this.showTree = false;
                    }, 50)
                    // 渲染
                    setTimeout(() => {
                        this.showTree = true;
                    }, 100)
                }
            }
        },
        mounted() {
            this.menu();
        }
    })
</script>
</html>